@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.spinner {
  height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  animation: spinner 2s linear;
  visibility: hidden;
}
.spinner__border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spinner-border 2s linear;
  z-index: 5;
  visibility: hidden;
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner-border {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
header .logo {
  box-shadow: 0px 0px 7px grey;
  text-align: center;
  height: 60px;
  margin: 0;
}
header .logo img {
  margin-top: 10px;
  width: 12rem;
  height: 33px;
}
header .location {
  position: relative;
  bottom: 10px;
  margin: 0;
  background-color: #f0f0f0;
  height: 40px;
  text-align: center;
}
header .location p {
  padding-top: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
header .location p .fas {
  margin-right: 7px;
}
header .header-quote {
  padding-top: 45px;
  text-align: center;
  height: 250px;
  background-color: white;
}
header .header-quote h2 {
  font-family: "Roboto", sans-serif;
}
header .header-quote p {
  font-weight: lighter;
}
header .header-quote button {
  font-size: 15px;
  color: white;
  background: linear-gradient(170deg, #e872da, #a45bdc);
  height: 50px;
  width: 200px;
  border-radius: 30px;
  border: none;
  box-shadow: 3px 3px 3px #b9bce5;
}
header .header-quote button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.navbar {
  height: 340px;
  margin: 0px;
  overflow-x: hidden;
}
.navbar h2 {
  margin-left: 9%;
}
.navbar .navbar-item div {
  background-color: whitesmoke;
  margin-left: 10%;
  text-align: center;
  width: 310px;
  border: 1px solid whitesmoke;
  margin-bottom: 17px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px gainsboro;
  transition: 200ms ease-in-out;
}
.navbar .navbar-item div:hover {
  background-color: #f5edff;
  transform: scale(1.1);
}
.navbar .navbar-item div span {
  display: inline-block;
  border-radius: 10px;
  position: relative;
  background-color: #9356DC;
  height: 22px;
  width: 22px;
  color: white;
  right: 12%;
}
.navbar .navbar-item div i {
  color: #7E7E7E;
  margin: 0 20px;
}
.navbar .navbar-item div .second-item {
  margin-right: 1rem;
}
.navbar .navbar-item div .third-item {
  margin-right: 0.5rem;
}

main {
  overflow-x: hidden;
  margin-bottom: 50px;
}
main h2 {
  margin-left: 10%;
}
main .restaurants {
  display: flex;
  flex-wrap: wrap;
}
main .restaurants .restaurant {
  margin-bottom: 30px;
  margin-left: 5%;
  box-shadow: 2px 2px 5px grey;
  border-radius: 1rem;
  width: 325px;
  height: 245px;
}
main .restaurants .restaurant a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
main .restaurants .restaurant .new {
  padding: 5px;
  position: relative;
  background-color: #99e2d0;
  color: #008766;
  width: fit-content;
  bottom: 110%;
  left: 73%;
}
main .restaurants .restaurant img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
main .restaurants .restaurant h3 {
  position: relative;
  bottom: 10px;
  padding-left: 1rem;
}
main .restaurants .restaurant p {
  position: relative;
  bottom: 12%;
  font-weight: lighter;
  padding-left: 1rem;
}
main .restaurants .restaurant p .heart {
  z-index: 2;
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: -20px;
}
main .restaurants .restaurant p .heart-full {
  fill: url(#color);
  stroke: none;
}
main .restaurants .restaurant p .heart-empty {
  width: 30px;
  position: absolute;
  right: 20px;
  top: -20px;
}
main .restaurants .restaurant p .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}

footer {
  background-color: #2e2e2e;
  color: white;
}
footer .logo {
  color: white;
  margin-left: 8%;
  padding-top: 20px;
  width: 160px;
  font-family: "Shrikhand", cursive;
}
footer div {
  margin-left: 8%;
  margin-bottom: 20px;
}
footer .fa-utensils {
  margin-right: 5px;
}
footer .fa-handshake-angle {
  font-size: smaller;
  margin-right: 5px;
}
footer h3 {
  padding: 0px;
  height: 10px;
  font-weight: 400;
}
footer p {
  margin-bottom: 0px;
  font-weight: lighter;
}
footer .contact {
  position: relative;
  bottom: 13px;
}
footer .contact a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-width: 745px) {
  .navbar-item {
    display: flex;
  }
  main {
    display: inline;
    background-color: #00FFFF;
  }
  main .restaurants {
    display: flex;
    flex-wrap: wrap;
  }
  main .restaurants .restaurant {
    margin-bottom: 30px;
    margin-left: 7%;
    box-shadow: 2px 2px 5px grey;
    border-radius: 1rem;
    width: 315px;
    height: 195px;
  }
  main .restaurants .restaurant a {
    text-decoration: none;
    color: inherit;
  }
  main .restaurants .restaurant img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }
  main .restaurants .restaurant h3 {
    position: relative;
    bottom: 10px;
    padding-left: 1rem;
  }
  main .restaurants .restaurant p {
    position: relative;
    bottom: 25px;
    font-weight: lighter;
    padding-left: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
