@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




@keyframes appear {
    0% {
        opacity: 0;
}
100% {
        opacity: 1;
}
}

$border: 1px solid black;

body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


// HEADER


header {
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    position: absolute;
    top: 0px;
    z-index: 1;
    
    

    .bannier {
        height: 70px;

        a{
            color: black;
            text-decoration: none;
        }
        
        i {
            position: relative;
            bottom: 5px;
            margin-left: 5%;
            font-size: 30px;
        }

        img {
            margin-top: 20px;
            margin-left: 12%;
            width: 200px;
        }
    }

    // restaurant img

    .resto-img {
        width: 100%;
        
        img {
            height: 235px;
            width: 100%;
            object-fit: cover;
        }
    }

}


//MAIN CONTENT

main {
    overflow-x: hidden;
    background-color: whitesmoke;
    border-radius: 35px 35px 0 0;
    margin: 0px;
    position: relative;
    margin-top: 270px;
    z-index: 2;


    .resto-title {
        display: flex;
        justify-content: space-between;
        

       h2 {
        margin-top: 32px;
        margin-left: 18px;
        font-family: 'Shrikhand', cursive;
        
       }


       .heart {
        width: 30px;
        stroke-width: 30;
        stroke: black;
        fill: white;
        cursor: pointer;
        
      }


      .heart-empty {
        z-index: 1;
        position: absolute;
        top: 35px;
        right: 35px;

        &:hover {
            opacity: 0;
            transition: 0.5s;
        }
      }

      .heart-full {
        z-index: -1;
        fill: url(#color);
        stroke: none;
        position: absolute;
        top: 35px;
        right: 35px;
      }


       
    }

//    MEAL PART

    article {
        padding-left: 17px;
        padding-right: 17px;
        margin-bottom: 30px;


        .meal-status {
            
            font-weight: lighter;
            height: fit-content;
            width: 45px;
            border-bottom: 3px solid lighten(grey, 8%);
            padding-bottom: 0px;

            h3 {
                color: lighten(black, 40%);
                margin: 0px;
                padding-bottom: 2px
            };
        }


        // ITEMS

        .items {
            background-color: white;
            border-radius: 13px;
            margin-top: 20px;
            display: flex;  
            flex-wrap: nowrap;  
            height: 55px;
            box-shadow: 1px 1px 4px black;
            transform-origin: 0% 0%;
            animation: appear 2s both;


            

            .price {
                width: 40px;
                padding-left: 0px;
                padding-top: 23px;
                font-weight: bold;
                font-size: smaller;
            }
            

            .meal {
                width: 100%;
                display: flex;
                flex-direction: column;
                
                h4 {
                    margin: 0px;
                    padding-left: 3%;
                    padding-top: 8px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                p {
                    margin: 0px;
                    padding-top: 2px;
                    padding-left: 3%;
                    position: relative;
                    font-size:smaller;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                };
            }


            .icon {
                color: white;
                border-radius: 0 13px 13px 0;
                width: 0px;
                transform: scaleX(0);
                display: flex;
                justify-content: center;
                align-items: center;
                transform-origin: 100%;
                transition: all 300ms ease;


                i {
                    transform: rotate(0deg);
                    transition: 300ms ease-in-out;
                }
            }

            &:hover {
                .icon {
                    background-color:#99E2D0 ;
                    width: 55px;
                    transform: scale(1);
                }

                i {
                    transform: rotate(360deg);
                }
            }

        }

        #case-1 {
            animation-delay: 0.1s;
        }
    
        #case-2 {
            animation-delay: 0.2s;
        }
    
        #case-3 {
            animation-delay: 0.3s;
        }
    
    
        #case-4 {
            animation-delay: 0.4s;
        }
    
    
        #case-5 {
            animation-delay: 0.5s;
        }
    
    
        #case-6 {
            animation-delay: 0.6s;
        }
    
    
        #case-7 {
            animation-delay: 0.7s;
        }
    
    
        #case-8 {
            animation-delay: 0.8s;
        }

        #case-9 {
            animation-delay: 0.9s;
        }
    
    }
   

    button {
      margin-top:10px ;
      margin-left: 21%;
      margin-bottom: 30px;
    }
    .btn {
        font-size: 15px;
        color: white;
        background: linear-gradient(170deg,#e872da, #a45bdc);
        box-shadow: 3px 3px 3px #b9bce5 ;
        height: 50px;
        width: 200px;
        border-radius: 30px;
        border: none;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
            transition: .3s;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
            background: linear-gradient(130deg,#e872da, #a45bdc);
        }
        
    }



    

}



// Footer 

footer {
    margin: 0px;
    background-color: lighten(black, 18%);
    color: white;
    height: 200px;

    .logo {
        fill: white;
        margin-left: 5%;
        width: 160px;
        font-family: 'Shrikhand', cursive;
        position: relative;
        top: 16px;
    }



    div {
        margin-left: 5%;
        position: relative;
        top: 25px;
    }
    

    .fa-utensils {
        margin-right: 7px;
    }

      .fa-handshake-angle {
        font-size: smaller;
        margin-right: 5px;
      }


        h3 {
            padding: 0px;
            height: 10px;
            font-weight: 400;
            
            &:hover {
                cursor: pointer;
            }
        }


        p {
            font-weight: lighter;
            margin-top: 20px;
            &:hover {
                cursor: pointer;
            }
        }

        .contact {
            position: relative;
            bottom: 13px;

            a {
                text-decoration: none;
                color: inherit;

                
            }
        }
    
}
