@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  overflow-x: hidden;
  width: 100%;
  margin: 0px;
  position: absolute;
  top: 0px;
  z-index: 1;
}
header .bannier {
  height: 70px;
}
header .bannier a {
  color: black;
  text-decoration: none;
}
header .bannier i {
  position: relative;
  bottom: 5px;
  margin-left: 5%;
  font-size: 30px;
}
header .bannier img {
  margin-top: 20px;
  margin-left: 12%;
  width: 200px;
}
header .resto-img {
  width: 100%;
}
header .resto-img img {
  height: 235px;
  width: 100%;
  object-fit: cover;
}

main {
  overflow-x: hidden;
  background-color: whitesmoke;
  border-radius: 35px 35px 0 0;
  margin: 0px;
  position: relative;
  margin-top: 270px;
  z-index: 2;
}
main .resto-title {
  display: flex;
  justify-content: space-between;
}
main .resto-title h2 {
  margin-top: 32px;
  margin-left: 18px;
  font-family: "Shrikhand", cursive;
}
main .resto-title .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
main .resto-title .heart-empty {
  z-index: 1;
  position: absolute;
  top: 35px;
  right: 35px;
}
main .resto-title .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}
main .resto-title .heart-full {
  z-index: -1;
  fill: url(#color);
  stroke: none;
  position: absolute;
  top: 35px;
  right: 35px;
}
main article {
  padding-left: 17px;
  padding-right: 17px;
  margin-bottom: 30px;
}
main article .meal-status {
  color: black;
  font-weight: lighter;
  height: fit-content;
  width: 45px;
  border-bottom: 3px solid #949494;
  padding-bottom: 0px;
}
main article .meal-status h3 {
  margin: 0px;
  padding-bottom: 2px;
}
main article .items {
  background-color: white;
  border-radius: 13px;
  margin-top: 20px;
  display: flex;
  height: 55px;
  box-shadow: 1px 1px 4px black;
  transform-origin: 0% 0%;
  animation: appear 2s both;
}
main article .items .meal {
  width: 100%;
}
main article .items .meal h4 {
  margin: 0px;
  padding-left: 3%;
  padding-top: 8px;
}
main article .items .meal p {
  margin: 0px;
  padding-top: 2px;
  padding-left: 3%;
  position: relative;
  font-size: smaller;
}
main article .items .meal p span {
  font-weight: bold;
  position: absolute;
  right: 15px;
  bottom: 45%;
}
main article .items .icon {
  color: white;
  border-radius: 0 13px 13px 0;
  width: 0px;
  transform: scaleX(0);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 100%;
  transition: all 300ms ease;
}
main article .items .icon i {
  transform: rotate(0deg);
  transition: 300ms ease-in-out;
}
main article .items:hover .icon {
  background-color: #99E2D0;
  width: 55px;
  transform: scale(1);
}
main article .items:hover i {
  transform: rotate(360deg);
}
main article #case-1 {
  animation-delay: 0.1s;
}
main article #case-2 {
  animation-delay: 0.2s;
}
main article #case-3 {
  animation-delay: 0.3s;
}
main article #case-4 {
  animation-delay: 0.4s;
}
main article #case-5 {
  animation-delay: 0.5s;
}
main article #case-6 {
  animation-delay: 0.6s;
}
main article #case-7 {
  animation-delay: 0.7s;
}
main article #case-8 {
  animation-delay: 0.8s;
}
main article #case-9 {
  animation-delay: 0.9s;
}
main button {
  margin-top: 10px;
  margin-left: 21%;
  margin-bottom: 30px;
}
main .btn {
  font-size: 15px;
  color: white;
  background: linear-gradient(170deg, #e872da, #a45bdc);
  box-shadow: 3px 3px 3px #b9bce5;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  border: none;
}
main .btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: linear-gradient(130deg, #e872da, #a45bdc);
}

footer {
  margin: 0px;
  background-color: #2e2e2e;
  color: white;
  height: 100%;
}
footer .logo {
  fill: white;
  margin-left: 5%;
  margin-top: 15px;
  width: 160px;
  font-family: "Shrikhand", cursive;
}
footer div {
  margin-left: 5%;
  margin-bottom: 20px;
}
footer .fa-utensils {
  margin-right: 7px;
}
footer .fa-handshake-angle {
  font-size: smaller;
  margin-right: 5px;
}
footer h3 {
  padding: 0px;
  height: 10px;
  font-weight: 400;
}
footer h3:hover {
  cursor: pointer;
}
footer p {
  font-weight: lighter;
}
footer p:hover {
  cursor: pointer;
}
footer .contact {
  position: relative;
  bottom: 13px;
}
footer .contact a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
